.universe {
  display: flex;
  color: rgba(225, 225, 225, .85);
  background-color: rgba(80, 80, 80, .85);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
}